<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNG Training Suite" parallel="tests">
    <test name="Mobile Test Cases">
        
        <classes>
            <class name="runner.CucumberRunner"></class>
        </classes>
    </test>

</suite>